<div class="page-width page-width-desktop custom-section">
  <h2>{{ section.settings.heading }}</h2>
  <div>
    
    <p>{{ section.settings.text_ne }}</p>
  </div>
</div>
<style>
  .custom-section{
    
  }
</style>
{% schema %}
{
  "name": "Custom Section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "richtext",
      "id": "text_ne",
      "label": "Content",
      "info": "Enter your text content here."
    }
  ],
  "presets": [
    {
      "name": "Custom Section",
      "category": "New Section"
    }
  ]
}
{% endschema %}
