<div>
  hihi nenene
</div>
{% schema %}
  {
    "name": "Custom section Hihi",
    "settings": [],
      "presets": [
    {
      "name": "Custom Section",
      "category": "Custom"
    }
  ]

  }
{% endschema %}