<div>
  <div>
    {{ section.settings.text_ne }}
    <p>nis hao hahahaha</p>
  </div>
</div>

{% schema %}
{
  "name": "Custom Section",
  "settings": [
    {
      "type": "richtext",
      "id": "text_ne",
      "label": "Content",
      "info": "Enter your text content here."
    }
  ],
  "presets": [
    {
      "name": "Custom Section",
      "category": "New Section"
    }
  ]
}
{% endschema %}
